<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ion Grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeLg="12" sizeXs="1" sizeMd="12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi exercitationem aspernatur mollitia provident voluptatum, assumenda animi ea quo qui officia eligendi temporibus saepe ratione similique commodi ad cum ipsum aliquid.
        Magni, autem dolore non a ut eos vitae tempora commodi pariatur impedit ipsa vero, hic fuga id cum. Facilis provident officiis perspiciatis dolores animi ipsum. Quas repellat officiis accusamus suscipit.
        Quod laborum in magni porro doloremque corporis dignissimos ad suscipit fugit dolor rem iure, atque similique accusantium nobis vitae necessitatibus nemo minus? Ipsam culpa similique perferendis magni maxime atque ex!
      </ion-col>
      <ion-col size="12" sizeLg="12" pushLg="1" sizeXs="1" sizeMd="4" pushMd="6">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam consectetur dicta facere? Consectetur nulla maxime repellendus inventore accusamus, sapiente quo! Rerum aliquid quis, consectetur dolor architecto laborum corrupti suscipit tenetur!
        Molestiae ab sint quae et at enim atque? Corrupti animi quam repellat. Facere neque ullam blanditiis, ut deserunt maiores explicabo dolores, sint iusto vitae molestiae corporis temporibus, quas veritatis laudantium?
        Nulla quo consectetur provident hic obcaecati dicta quaerat, corrupti corporis nesciunt eligendi aperiam in quod natus magnam ab quisquam temporibus, non voluptatibus sit optio repellendus saepe iure debitis. Aspernatur, voluptatum.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
