<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ion Picker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="mostrarPickerBasico()" expand="block" fill="outline" shape="round">
  Mostrar Ion Picker Basico
</ion-button>
<ion-button (click)="mostrarPickerAvanzado()" expand="block" fill="solid" color="danger" shape="round">
  Mostrar Ion Picker Avanzado
</ion-button>
</ion-content>
