<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ion List Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item color="primary">
    <ion-label>Item 1</ion-label>
  </ion-item>
  <ion-item color="secondary">
    <ion-label>Item 2</ion-label>
  </ion-item>
  <ion-item color="tertiary">
    <ion-label>Item 3</ion-label>
  </ion-item>
  <ion-item color="danger">
    <ion-label>Item 4</ion-label>
  </ion-item>
  <ion-item color="success">
    <ion-label>Item 5</ion-label>
  </ion-item>
</ion-list>
<ion-list>
  <ion-list-header>
    <ion-label>Header Title</ion-label>
    <ion-button>Action</ion-button>
  </ion-list-header>
  <ion-item>
    <ion-label>Pokemon</ion-label>
  </ion-item>
  <ion-item detail="true">
    <ion-label>Dragonball</ion-label>
  </ion-item>
  <ion-item-divider>
    <ion-label>Divider</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/icon/favicon.png" />
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>
</ion-list>
</ion-content>
